body{
	text-align: center;	
    background-color: #216869;
    color: white;
}
h1{
	font-family: 'Amatic SC', cursive;
	font-size: 100px;

}

.titulo{
	font-family: 'Shadows Into Light', cursive;
	font-size: 40px;
}

img{
	border-radius: 900px;
}

p{
	font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.texto_parrafo{
	text-align: center;
}


.icon_redsocial{
	text-align: left;
	font-size: 40px;
}

.icon-color-facebook{
	color: #3b5998;
}

.icon-color-insta{
	color: #517fa4;
}

.icon-color-twitter{
	color: #55acee;
}

.icon-color-whatsapp{
	color: #4dc247;
}

.icon-color-pinterest{
	color: #cb2027;
}
/*
.recuadro p:first-child{
	background-color: magenta;
}

.recuadro p:last-child{
	background-color: magenta;
}

.recuadro p:nth-child(2){
	background-color: magenta;
}

.recuadro p:nth-child(even){
	background-color: magenta;
}

.recuadro p:nth-child(odd{
	background-color: magenta;
}

*/